@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for whole website (scroll still works) */
html,
body,
#root {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE/Edge */
}
html::-webkit-scrollbar,
body::-webkit-scrollbar,
#root::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
*::-webkit-scrollbar {
  display: none;
}